# Ignore everything
*.*
*.cfg
*.vcfg

# But not these files...
# my configs
!.gitignore
!autoexec.cfg
!emsixteen.cfg
!emsixteen-demos.cfg
!emsixteen-practice.cfg
!spawn*.cfg

# other configs
!mirageSmokes.cfg